{
    "semi": false,
    "singleQuote": true,
    "failOnStatusCode":false,
    "useTabs": true,
    "tabsWidth": 4,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "trailingComma": "es5"
}